@model ASP.Models.Home.Product


<div class="block m-4 p-3 bg-gray-100">
	
<h5 class="card-title">@Model.Name</h5>
<img src="/img/286.jpg"/>
<p class="m-3">@Model.Price</p>
<a href="#" class="rounded p-2 bg-blue-200">Buy</a>

</div>